body{
	margin:0;
	padding:0;
	background: url('background.jpg') no-repeat;
	background-size:cover;
}
.box{
	width:450px;
	background: rgba(252, 235, 235, 0.4);
	padding: 40px;
	text-align: center;
	margin:auto;
	margin-top:5%;
	color:white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.box h1{
	font-size: 40px;
	letter-spacing:4px;
	font-weight: 100
}
.btn{
	width: 200px;
	height:50px;
	background-color:lightcyan;
	border-radius: 20px;
}
.btn{
	width: 200px;
	height:50px;
	background-color:lightcyan;
	border-radius: 20px;
}
.btn{
	width: 200px;
	height:50px;
	border-radius: 20px;
	border: 2px solid rgb(182, 192, 202)
}
.btn:hover{
	background-color:rgb(135, 189, 240)
}
h1 {
	color: #fff;
}